
#pix-size{
    width: 500px;
    height: 300px;
}
body{
    background-color:#DDDDDD;
    padding: 0px;
    margin: 0px;
   
}
#placeholder{
    margin-left: 80px;
    margin-right: 40px;
    
    
}
#first{
    background-color: #359FD5;
    width: 500px;
    height: 1180px;
    color: white;
    font-size: 17px;
    margin: 0px;

}
#work{
    width: 39vw;
    border: 1px solid #F2F4F3;
    margin-left: 80px;
    background-color: #F2F4F3;
    position: absolute;
    top: 20px;
}
#outer-work{
    width: 47vw;
    height: 400px;
    background-color: #F2F4F3;
    margin-left: 650px;
    position: absolute;
    top: 20px;

}
#edu{
    width: 39vw;
    border: 1px solid #F2F4F3;
    margin-left: 80px;
    background-color: #F2F4F3;
    position: absolute;
    top: 40px;
}
#outer-edu{
    width: 47vw;
    height: 400px;
    background-color: #F2F4F3;
    margin-left: 650px;
    position: absolute;
    top: 450px;

}
.space{
    line-height: 1.6; 
    margin-bottom: 40px;
}
#int{
    width: 47vw;
    height: 200px;
    background-color: #F2F4F3;
    margin-left: 650px;
    position: absolute;
    top: 880px;
    box-shadow: 1px 10px #F2F4F3

    
}
.re-size{
    margin: 30px;
    width: 50px;
    height: 50px;
    position: relative;
    left: 70px;
}
h2{
    position: relative;
    left: 70px;
}
#fifth{
    width: 47vw;
    height: 60px;
    background-color: #F2F4F3;
    margin-left: 650px;
    position: absolute;
    top: 1100px;
    

}
.card{
    box-shadow: 2px 2px 2px 2px #9e9e9e !important;
  
}
.foot{
    position: relative;
    left: 85px;
    
}
.same{
    display: inline-block;
    margin: 25px; 
    color: #33A1DB; 
}
.edu1{
    width: 45px;
    height: 45px;
    margin: 24px;
}
.reset{
    margin: 30px;
    position: absolute;
    top: 300px;
    
}
.reset1{
    margin-left: 30px;
    position: absolute;
    top: 479px;
}
.reset2{
    margin-left: 30px;
    position: absolute;
    top: 610px;
}
.reset3{
    margin-left: 30px;
    position: absolute;
    top: 730px;
}
.reset4{
    margin-left: 30px;
    position: absolute;
    top: 820px;
}
 
@media only screen and (max-width: 850px) {
    #int {
    background-color: #F2F4F3;
    width: 88%;
    margin-left: 1px;
    position: relative;
    top: 70px;
        
    
    }
#outer-work{
    background-color: #F2F4F3;
    width: 88%;
    margin-left: 1px;
    position: relative;
    top: 15px;
}    


#outer-edu{
    background-color: #F2F4F3;
    width: 88%;
    margin-left: 1px;
    position: relative;
    top: 50px;

}
#work{
    
    margin-left: 60px;
    width: 80%;
}
#edu{
     
    margin-left: 60px;
    width: 80%;
}
.edu1{
    width: 30px;
}
.foot{
    width: 60%;
   display: inline;
 
    
    
}
#fifth{
    width: 88%;
    margin-left: 1px;
    position: relative;
    top: 100px;
}
#first{
    width: 88%;
    align-items: center;
}

}
